.category-style{
    margin:10px;
    width:200px;
    border-radius: 5px;
    padding:10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
}
.category-style:hover{
   box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
   cursor: pointer;
}
.category-style h2{
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.category-div{
    display: flex;
    justify-content: center;
}
.welcome-text{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.coverPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* width:700px; */
}

.coverImg{
    /* position: absolute; */
   
   
}
.coverImg img{
    width: 1000px;
    height: 700px;

}
.hd{
    position: absolute;
    font-family: Arial;
    font-size:x-large;
    color: white;
    /* top:20px; */
    background-color: rgba(0, 0, 0, 0.5);
    width:1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
#bookRoute{
    font-weight: bold;
    color: white;
}
#heading{
    font-style: italic;
    font-size: x-large;
}
.coverBack{
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    position: absolute;
    top:0;
    left:0;
}
.textArea{
    margin-top: 20px;
    margin-left: 20px;
}
.exploreButton{
    padding: 10px;
    font-size: medium;
    font-weight: bold;
}