#bookList{
    display:flex;
    flex-wrap: wrap;
  }
.booksAndFilters{
    display:flex;  
  }
.filterBars{
    min-width: 250px;
    border-right:5px solid black;
  }
  .NotFoundMsg{
   margin: 10px auto;
  }
  .productPageTitle{
    margin-left: 50px;
  }