:root {
    --bgColor: rgba(13, 133, 169, 0.957);;
    --textColor: rgb(230, 223, 223);
  }
.signUpForm{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 50px;
    text-align: left;
    /* border: 5px solid black; */
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.3);
    padding:20px;
    width:fit-content;
    font-size: medium;
    font-weight: bold;

}
.signUpButton{
    background-color: var(--bgColor);
    padding: 5px;
    border:none;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    color:var(--textColor);
}
.firstName{
    display: flex;
    flex-direction: column;
    margin-right:20px;
}
.name{
    display: flex;
}
.email{
    display: flex;
    flex-direction: column;
}
.firstName input, .lastName input, .email input{
    padding: 5px 10px;
}
.name,.email,.pwd,.confPwd{
    margin-top: 10px;
    margin-bottom: 10px;
}

.lastName{
    display: flex;
    flex-direction: column;
    margin-left:20px;
}
.createAccountDetail{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.pwdContainer{
    position: relative;
}
.pwdContainer input{
    width: 400px;
    padding: 5px 10px;
}
.fa-eye,.fa-eye-slash{
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }