.bookStyle{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
    padding:10px;
    width:250px;
    height: 430px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
}
.likeButton{
    top:0;
    padding: 0;
    position: relative;
    right:0;
}
#stars{
    color:gold;
}
#star{
    display: flex;
}
.likeButton button{
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 25px;
    
}
.imgLike{
    position: relative;
    display: flex;
}
.bookStyle p{
    margin-top:0px;
    margin-bottom:0px;

}
#title{
    font-weight: bold;
}
#author{
    font-size: 12px;
    font-weight: bold;
    color: rgb(175, 170, 170);
}
#orgPrice{
    text-decoration: line-through;
    font-weight: bold;
    color: rgb(213, 208, 208);
    margin-left:10px;
    margin-right:10px;
}
#finalPrice{
    font-weight: bold;
}
#off{
    color:green;
    font-weight: bold;
}
#price-detail{
    display: flex;
}
#orgPrice::before,#finalPrice::before{
    content: "₹";
}
#info-rating{
    display: flex;
    /* justify-content: space-between; */
}