:root {
    --bgColor: rgba(13, 133, 169, 0.957);
    --textColor: rgb(230, 223, 223);
  }
.profileCard{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.3);
    width: 500px;
    padding: 30px;
}
.profilePage{
    display: flex;
    justify-content: center;
}
.pageHead{
    font-size: larger;
    font-weight: bold;
}
.profilePart{
    border: 1px solid black;
    margin:20px 0px;
    padding:20px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.5);
}
#detail{
    display: flex;
    margin: 20px 0px;
    font-size: large;
}
#title{
    margin-right:10px;
}
.profileOrAddress{
    display: flex;
    justify-content: space-around;
}
.profileButton,.addressButton{
    padding: 10px;
    font-size: 20px;
    background-color: white;
    color:black;
    font-weight: bold;
    border: 1px solid black;
}

.profileButton:hover,.addressButton:hover{
    background-color:var(--bgColor);
    color:white;
    border: none;
}
.logout{
    background-color: var(--bgColor);
    padding: 5px;
    border:none;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    color:var(--textColor);
    cursor: pointer;
}