.filterings{
    margin-left:20px;
}
#sortInputs{
    display:flex;
    flex-direction: column;
}
.sortPrice{
    display: flex;
    margin-left:30px;
}
#catStyle{
    display: flex;
    flex-direction: column;
}
.individualCat{
    display: flex;
}