.filterings{
    margin-left:20px;
    margin-right:10px;
    position: sticky;
    z-index: 2;
    top:0;
    padding:10px;
    /* transition: all 0.2s ease-in-out;
    transition: left 0.5s ease-out; */
    /* grid-area: aside; */
}
.filterings h4{
    margin-top:10px;
    margin-bottom:10px;
}
#sortInputs{
    display:flex;
    flex-direction: column;
    margin-left:-20px;
}
.fltrHeader h3{
    margin-top:10px;
    margin-bottom:10px;
}
.fltrHeader{
    display: flex;
    justify-content: space-between;
}
.clrFltrbtn{
    text-decoration: underline;
}
.clrFltrbtn:hover{
    cursor: pointer;
}
.sortPrice{
    display: flex;
    margin-left:30px;
}
#catStyle{
    display: flex;
    flex-direction: column;
    margin-left:-25px;
}
.individualCat{
    display: flex;
}
.ratingFilter{
    display: flex;
    flex-direction: column;
}
.priceRange{
    display: flex;
    flex-direction: column;
}
.priceCheckPoints{
    display: flex;
}
 #midPrice{
    margin-right:50px;
    margin-left:50px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: darkblue;
    border-radius: 5px;
}