.footerComp{
    
    background-color: black;
    color: white;
}
.footerContent{
    display: flex;
    justify-content: space-between;
    margin:20px 70px;
}
.socialMedia{
    display: flex;
    flex-direction: column;
}
.socialLinks{
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin:5px 0px;

}