.img-details{
    display: flex;
    border:1px solid black;
    padding: 3rem;
}
.individualProduct{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.img-details img{
    margin-right:20px;
    align-self: center;
}
#star{
 display: flex;
 flex-direction: row;
 width: fit-content;
 background-color: #0096c7;
 color: white;
 padding:3px 5px;
 border-radius: 5px;
}
#star i{
    font-size: 20px;
    margin-left:4px;
    margin-bottom:0px;
    padding-bottom:0px;
}
#stars{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#star p{
    margin-top:0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}
#orgPrice{
    text-decoration: line-through;
    font-weight: bold;
    color: rgb(213, 208, 208);
    margin-left:10px;
    margin-right:10px;
}
#finalPrice{
    font-weight: bold;
}
#off{
    color:green;
    font-weight: bold;
}
#price-detail{
    display: flex;
}
#orgPrice::before,#finalPrice::before{
    content: "₹";
}
#other-details{
    font-size: 12px;
    font-weight: bold;
    color: rgb(175, 170, 170);
}
#other-details span{
    font-style: italic;
    color:black;
}