:root {
    --bgColor: rgba(13, 133, 169, 0.957);;
    --textColor: rgb(230, 223, 223);
  }
.img-details{
    display: flex;
    /* border:1px solid black; */
    padding: 3rem;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.3);
}
.individualProduct{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.img-details img{
    margin-right:20px;
    align-self: center;
}
#star{
 display: flex;
 flex-direction: row;
 width: fit-content;
 background-color: var(--bgColor);
 color: var(--textColor);
 padding:3px 5px;
 border-radius: 5px;
}
#star i{
    font-size: 20px;
    margin-left:4px;
    margin-bottom:0px;
    padding-bottom:0px;
}
#stars{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#star p{
    margin-top:0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}
#orgPrice{
    text-decoration: line-through;
    font-weight: bold;
    color: rgb(213, 208, 208);
    margin-left:10px;
    margin-right:10px;
}
#finalPrice{
    font-weight: bold;
}
#off{
    color:green;
    font-weight: bold;
}
#price-detail{
    display: flex;
}
#orgPrice::before,#finalPrice::before{
    content: "₹";
}
#other-details{
    font-size: 12px;
    font-weight: bold;
    color: rgb(175, 170, 170);
}
#other-details span{
    font-style: italic;
    color:black;
}
.indCart{
    background-color: var(--bgColor);
    padding: 5px;
    border:none;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    color:var(--textColor);
}
.indWish{
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    color:black;
    margin-left:10px;
}