.App {
  text-align: center;
}

li{
  list-style: none;
}
#bookList{
  display:flex;
  flex-wrap: wrap;
}
.booksAndFilters{
  display:flex;
  justify-content: space-between;
}
.filterBars{
  max-width: 600px;
}